*{
    margin: 0px;
    padding: 0px;
}
body{
   width: 100%;
   
}

.content-wrapper{
    width:100%;
    margin: 2% 20% 20% 0%;
    
    
}
.content-wrapper img{
    width: 100%;
   
    
   
}
.text-wrapper {
    width: 50%;
    top: 50%;
    right: 50%;
    left: 50%;
    bottom: 50%;

position:relative;
margin-top: -20%;

margin-left: -25%;

text-align: center;
font-family:monospace;
font-size:xx-large;
font-weight: bold;
color:black;
text-decoration: solid;
text-transform: capitalize;
background: cornsilk;

}
.link{
    border-radius: 10px;
    color: white;
    background-color:rgb(65, 160, 65) ;

}
.link:hover{
    background-color:darkslategray
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 300;
    text-align:center;
    
    
}
.logo{
    height: fit-content;
    width:min-content;
    margin-top: 11%;
    padding-top: 11%;
    margin-right: 7%;
    margin-left: 10%;
}
th{
    font-size: larger;
}
.delicious{
    margin-left: 35%;
    margin-top: 0%;


}
label{
width: 60%;
height: 20%;
margin-left: 60%;
margin-top: 2%;


}
.contact{
        text-align:left;
       
      position:relative;
      margin-top: 4%;

       margin-left: 10%;
    

    }
    .us{
        text-align: left;
    }
    a{
        text-decoration: none;
        color: aliceblue;
        
    }